<%

    var ntitle = title
    ntitle = ntitle
    .replace('[small]','<small>')
    .replace('[b]','<b>')
    .replace('[/small]','</small>')
    .replace('[/b]','</b>')

%>
<span class="apx-title">
<%- ntitle %>
</span>
