<% if (typeof opt.html === 'string') { %>
  <% try { %>
    <% if (opt.html.includes('[alpix]')) { 
      const module = opt.html.replace('[alpix]','').replace('[/alpix]','')    
      %>
      <%- await include(`@/sections/apx_${module}`, { _, module }) %>    
    <% } else { %>
    <section class="custom-html my-4 my-lg-5">
      <div class="container">
        <div class="html-clearfix">
          <%- opt.html %>
        </div>
      </div>
    </section>
    <% } %>
  <% } catch (err) {
    console.log(err)
   } %>
<% } %>
