// Add your custom CSS here.
body{
    font-family: 'Poppins', sans-serif;
}
.apx-title{
    font-family: 'Playfair Display', serif;
    font-style:italic;
    font-size:40px;
    position:relative;
    color:#000;
}
.page-title__head.apx-title{
    width:fit-content;
}
.page-title__head.apx-title:before{width:calc(100% + 20px)}
.page-title__head.apx-title h1{font-weight:bold;}
.apx-title:before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #f3c93d;
    width: 100%;
    height: 42px;
    left: -10px;
    top: 25px;
}
.apx-title small{
    font-family: Poppins,sans-serif;
    font-size: 13px;
    display: block;
    position: relative;
    margin: 12px 0 0 20px;
    text-align: left;
    font-style: normal;
    color: #fff;
}
.apx-title small:before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #6a4595;
    width: calc(100% + 40px);
    height: 32px;
    left: -20px;
    top: -8px;
}
.products-carousel,
.products-carousel__title a, .products-carousel__title span{background:transparent}
.products-carousel__title:before{display:none}
.products-carousel__title{margin-bottom:2em}

#content.apx .product-item .product-card__buy > button.btn-primary,
.product__buy button{
    text-transform:uppercase;
    font-size:20px;
    background-color:#000!important;
    border:0;
    line-height:46px;
    width:fit-content;
    margin:1em auto 0 auto;
    padding:0 40px;
    border-radius:46px;
}
.product__buy button i{display:none}
.product-card a{text-decoration:none;}
.product-card,
.product-card:hover{text-align:center;box-shadow:unset;}
.product-card__name,
.product-card .prices__value{
    // font-family: 'Playfair Display', serif;
    font-size:14px;
    font-weight:400;
    height:auto;
    color:#000;
    text-decoration:none!important;
}
.product-card__name{line-height: 22px;margin-top:15px;}
.product-item .product-card__buy > button i {display:none;}
.product-card .prices__value{font-size:26px;font-weight:bold;}

.bah-title{
    display: block;
    text-align: center;
    position: relative;
    padding: var(--spacer-3);
    margin: 0 0 2em 0;
}
.bah-title span{
    display: inline-block;
    color: inherit;
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
    position: relative;
}

.justify-content-center{justify-content:center;}
.justify-content-between{justify-content:space-between;}
.align-items-center{align-items:center}


.top-bar > a.top-bar__countdown{
    background:#8e67bb;
    font-size:14px;

}

.header{background:#fff;}
.header__buttons{display:flex;}
.header__buttons .svg-btn{
    display:flex;
    align-items:center;
    margin-left:2rem;
}
.svg-btn img{
    height:36px;
    width:36px;
}
.svg-btn img + div{
    color:#000;
    font-size:13px;
    text-align:left;
    margin-left:10px;
}
.svg-btn img + div > b{display:block;font-weight:bolder}

.svg-btn img + div > u{}

.header{border:0;padding:10px 0 0 0;}
.header__toggler{display:none;}
.header__search-btn{color:#4e2c76;}
.header__search-input{
    border: 1px solid #000;
    border-radius: 40px;
    height: 40px;
    font-size:13px;
    font-style:italic;
}

#bah-menu{background:#6a4595;margin-top:15px;}
.header__logo{max-height:96px;}
.header__nav--full a{
    margin:0;
    font-size:16px;
    font-family:'Playfair Display';
    color:#fff;
    border-radius:0;
    padding:10px 1.5em;
    margin:0;
}
.header__nav--full .bah-links > a:last-child{
    background:#4e2c76;
}
.header__nav--full .bah-links{display:flex;align-items:center;}

@media (min-width: 1200px){
    .header__container{padding:0 30px;}
    .header__container,
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1230px;
    }
}

.w-100{width:100%;}
.header__search-btn > img{
    height:24px;
    width:24px;
}
.header__search-btn{
    font-size: initial;
    padding: 0 1rem;
    top: 0;
    right: 0;
    height: 40px;
}
#page-home .page--home > .sections > .responsive-baner:first-child{margin:0!important}
#page-home .page--home > .sections > .responsive-baner:first-child .container .banner{
    padding: 0;
    width: 1920px;
    max-width: unset;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}
.apx_stripe{font-size:13px;}
.apx_stripe b{text-transform:uppercase;}



.header__search{overflow:visible}
#search-bar{}
#search-bar  .backdrop{display:none;}
#search-bar .search__box.card{
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  border-radius: 0;
  width: 550px;
  border-top: 4px solid var(--apx_azul);
  margin-top: 15px;
}
#header .search__history .fas,
#header .search__count{color:#fff;}
#header .search__history{text-align:right}

#header .search__body{max-height:50vh}
#search-bar .search__box.card .search__header{display:none;}
#search-bar .search__box.card .search-engine__results{}
#search-bar .search__box.card .search-engine__results .search-engine__info h3{display:none;}
#search-bar .search__box.card .search-engine__results .search-engine__retail{}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row{display:block;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div{display:block;width:100%;max-width:100%;}

#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__buy,
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__offer-stamp{display:none}

#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section,
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__link{
  display:flex;
  align-items:center;
}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__pictures{height:auto;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section picture{max-width:100px;height:75px;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__name{
  padding:0 1rem;
  white-space: normal;
  width: 350px;
  text-align: left;
  font-size:12px;
}
#search-bar .search__box.card .search-engine .lead{font-size:14px;margin-top:.5rem}
#search-bar .search__box.card .search-engine h4{font-size:18px;}
#search-bar .search__box.card .search-engine__results .prices{
text-align: right;
align-items: center;
display: flex;
}
#search-bar .search__box.card .search-engine__results .prices > *{margin:0;display:block;text-align:right;    font-size: 14px;}
#search-bar .product-card{box-shadow:unset!important;margin-bottom: 10px!important;}
.search__footer{
  font-size: 12px;
  background: #393939;
  border-radius: 0;
  border: 0;
}
.search__history,
.search__history a,
.search__count{color:#fff;font-size:12px;white-space:normal}
#header .search-engine__terms{    display: none;}


//testimonials
.apx_testimonial-item{color:#000;padding:3rem;}
.apx_testimonial-item p,
.apx_testimonial-item strong{font-size:13px;text-align:center;display:block;}
.apx_testimonial-item .icon{width:100%;}
.apx_testimonial-item .icon > img{max-width:100%;width:100px;height:100px;border-radius:50%;margin:0 auto 1rem auto;display:block;}

//instagram
.apx_instafeed{}
.apx_instafeed a{position:relative;display:block;}
.apx_instafeed a:hover img{opacity:.5}
.apx_instafeed a img{max-width:100%;transition:all .2s;}
.apx_instafeed a:hover span{opacity:1}
.apx_instafeed a span{
    padding: 2rem;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    opacity:0;    
    transition:all .2s;
}

#bah-footer{
    background:#4e2c76;
    padding:3em 0;
}
#bah-footer strong{color:#f3c83d;text-transform:uppercase;font-weight:800;font-size:18px;display:block;margin-bottom:2rem;}
#bah-footer form{}
#bah-footer form input{height:40px;font-size:13px;color:#4e2c76;border-radius:40px;border:0;padding:0 15px;width:100%;display:block;margin:0 0 1rem 0;}
#bah-footer form button{background:#f3c83d;border:0;text-transform:uppercase;font-weight:400;font-size:16px;height:36px;padding:0 1.5rem;border-radius:36px;line-height:36px;margin:0 0 0 auto;display:block;}
#bah-footer .footer__links{columns:2;margin-bottom:2rem;}
#bah-footer .footer__links > li{display:block;}
#bah-footer .footer__links > li > a{color:#fff;font-weight:300;font-size:13px;}
#bah-footer .footer__social a{opacity:1;margin-right:1rem;}
#bah-footer .pay-icon{background-color:#fff;border-radius:3px;}
#bah-footer .stamps>li{padding-top:0}

.credits{
    font-size:13px;
    color:#4e2c76;
}
.ecom-credits{background:transparent;padding:1rem 0;}
body > iframe{display:none;}

.glide__arrow i{display:none;}
.glide__arrow{
    height:40px;
    width:25px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size:0;
    padding:0;
    background-position:center;
}
.glide__arrow--left{
    background-image: url(/img/uploads/seta-esq.svg);
}
.glide__arrow.glide__arrow--right{
    background-image: url(/img/uploads/seta-dir.svg);
}
.glide__slides,
.glide__slide h4{margin:0;}
.prices--big .prices__value,
h1.product__name{
    color:#231f20;
    // font-family:'Playfair Display';
    font-weight:bold;
    font-size:2.5rem;
}
h1.product__name{
    font-weight:normal;
    font-size:1.875rem;
}
.prices--big .prices__value{
    color:#000;
}
.shipping-calculator{margin-top:1.5rem;}
.shipping-calculator__form label{
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
}
.shipping-calculator__form .input-group{
    border: 1px solid #ccc;
    width: fit-content;
    padding: 2px;
    border-radius: 6px;
}
.shipping-calculator__form input{border:0;font-size:14px;}
.shipping-calculator__form  button[type="submit"],
.shipping-calculator__form  button[type="submit"]:hover,
.shipping-calculator__form  button[type="submit"]:active,
.shipping-calculator__form  button[type="submit"]:focus{
    background: #6a4595;
    border: 0;
    border-radius: 5px!important;
    color: #ffffff;
}

#product-description .lead > a{display:none;}
#product-description .lead{
    font-size:16px;
    color:#000;
    font-weight:bold;
    text-transform:uppercase;
}
#product-description .html-clearfix{
    font-size:13px;
    color:#000;
}

.breadcrumb{}
.breadcrumb-item,
.breadcrumb-item a{font-size:13px;color:#000;}
.breadcrumb-item+.breadcrumb-item:before{color:#000;}

.product__info.lead{
    color: #000;
    font-weight: 500;
    font-size: 13px;
    margin: 1rem 0 3rem 0;
}

// .gallery__item,
// .gallery__big-image{
    
// }
.gallery__big-image{padding:0 3rem;}
.product__production,
.product__payment,
.product__short-stock{display:none}

.label-share{color:#000;font-size:11px;text-transform:uppercase;}
.label-share + div button span{display:none!important;}
.label-share + div button i,
.label-share + div button strong{
    color:#6a4595!important;
}

.brands-carousel{margin-bottom:5rem;}

.header__toggler-icon{
    width: 26px;
    height: 20px;
    position: relative;
    margin: 15px 15px 15px 0;
    transition: all .4s;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    outline: none;
    vertical-align: middle;
    padding: 0;
    transition: all .4s;
    display: inline-block!important;
}
.header__toggler-icon.open{
    border-color: transparent;
}
.header__toggler-icon.open:before{
    transform: rotate(45deg);  
    top:7px;
}
.header__toggler-icon.open:after{
    transform: rotate(-45deg);
    bottom: 5px;    
}
.header__toggler-icon:before{
    content: "";
    position: Absolute;
    border-top: 2px solid #000;
    width: 100%;
    top: 0;
    transition: all .4s;
    left: 0;
}
.header__toggler-icon:after{
    content: "";
    position: Absolute;
    border-top: 2px solid #000;
    width: 100%;
    bottom: 7px;
    transition: all .4s;
    left: 0;
}
.menu__footer{display:none;}

aside.menu{
    background:#6a4595;
}
aside.menu #categories-nav a{
    font-size: 16px;
    font-family: Playfair Display;
    color: #fff;
    border-radius: 0;
    padding: 10px 1.5em;
    margin: 0;
    text-transform:uppercase;
    border:0;
}
aside.menu .menu__btn--close{
    color: #6a4595;
    background: #f3c83d;
    border-radius: 0;
    height: 54px;
    width: 54px;
}

#user-mobile #user-button{
    white-space: nowrap;
    display: flex;
    background: #fff;
    border-radius: 0;
    padding-left: 5px;
}
#user-mobile #user-button *{font-size:12px;}
aside.menu .menu__list{padding-top:15px;}

.apx_stripe .col-auto .row{justify-content:center;}

.page-title__head{}
.page-title__head h1{}
@media(max-width:990px){
    .header__row>div#search-bar{display:block!important}
    a.logo_{text-align:center;}
    .header__toggler{display:block;}
    #whatsapp-button + a,
    #whatsapp-button{display:none}
    
    #page-home .page--home>.sections>.responsive-baner:first-child .container{padding:0}
    #page-home .page--home>.sections>.responsive-baner:first-child .container .banner{
        width:100%;
    }

    #search-bar .search__box.card{
        max-width:100%;
    }
    #search-bar .search__box.card .product-card__pictures{display:none;}
    #search-bar .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card .product-card__name{padding-left:0;width: 100%;font-size:.7rem;}
    #search-bar .search-engine__item{padding:0;}
    #search-bar .search-engine__info{padding-bottom:0;}
    #search-bar .product-card__prices .prices__compare{font-size:.8rem;}
    #search-bar .product-card__prices .prices__value{font-size:.8rem;}
    #search-bar .search__body{
        min-height: unset;
        max-height: calc(100vh - 250px);
    }
    #search-bar .search__box.card .search-engine__results .prices>*{font-size:14px;}
    .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card section{justify-content:space-between}

    .apx-title{
        font-size: 24px;
        margin: 0 -15px;
        text-align:center
    }
    .apx-title:before{
        width: 100%;
        height: 24px;
        left: 0;
        top: 15px;
    }
    .apx-title small{text-align:center;margin-left:0;padding:0 10px;}
    .apx-title small:before{
        left:0px;
        right:00px;
        height:calc(100% + 16px);
        width:100%;
    }

    #bah-footer + div .d-flex{
        display: block!important;
        text-align: center;
        padding: 10px 0 0 0;
    }
    #bah-footer{padding:2rem 1rem;}
    #bah-footer > .container > .row > div,
    .footer__social{margin-bottom:2rem;}

    .glide__arrows--outer .glide__arrow--left{left:-12px}
    .glide__arrows--outer .glide__arrow--right{right:-12px;}

    .products-carousel__list + .glide__arrows.glide__arrows--outer .glide__arrow--left{left:-5px}
    .products-carousel__list + .glide__arrows.glide__arrows--outer .glide__arrow--right{right:-5px;}
    .product-card__name{--max-lines: 2;}
    .apx_testimonial-item{padding-top:0;}

    #bah-footer form button{width:100%;}

    .header__logo{max-height:60px}

    header .svg-btn img+div>b{display:none;}
    header .svg-btn img+div>u{font-size:0;}
    .svg-btn img+div>u #cart-count{
        font-size: 11px;
    position: absolute;
    text-decoration: none;
    color: #6a4595;
    background: #f2cc53;
    font-weight: bold;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right: 5px;
    bottom: 0;
    text-align: center;
    }
    header .svg-btn img+div{margin:0}

    .header__row > div{padding:0 15px;}
    .header__toggler{padding:0;margin:0;}
    .header__toggler{margin:0;}
    .top-bar>a.top-bar__countdown{font-size:11px;}
    .header__search-btn>img {
        height: 20px;
        width: 20px;
    }
    .header__buttons .svg-btn{margin:0;}
    .header__buttons{justify-content:flex-end}

    .gallery__big-image, .gallery__item{border:0;}
    .breadcrumb{display:none;}

    .page-title__head.apx-title{margin:0;padding:0 15px;}

    .product-card__buy{opacity:1!important}
    #content.apx .product-item .product-card__buy>button.btn-primary, .product__buy button{
        padding: 7px 14px!important;
        font-size: 14px;
        line-height: initial;
    }
    
}



/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: transparent;
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: var(--body-color);
    background-color: #f9f9f9;
    border:0;
}

.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}

.variations__grid--colors button > span{
    width: 56px;
    height: 56px;
    display: block;
    margin: 0 auto 10px auto;
}
.variations__grid--colors button{
    font-size: 11px!important;
    border: 0;
    text-align: center;
    padding: 0;
    margin-right: 1rem!important;
    margin-bottom: 1rem;
    width: 56px;
    background: transparent!important;
    vertical-align: top;
    outline:none!important;
    border:0!important;
    box-shadow:unset!important;
    
}
.variations__grid--colors button span{
    border:1px solid #ccc;
}
.variations__grid--colors .variations__option--selected span{
    border: 1px solid #000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3%);
}
.variations__grid--colors button p{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    --max-lines: 2;
    margin:0;
}

.variations__grid-title{
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}
.variations__value{font-size:12px;}


.apx_form{}
.apx_form label{
    font-size:14px;
    display:block;
    color:#212121
}
.apx_form input,
.apx_form textarea{
    min-height:46px;
    width:100%;
    display:block;
    margin-bottom:1rem;
    border-radius:30px;
    border:1px solid #f2f2f2;
    padding:.5rem 1rem;
    outline:none;
}
.apx_form button{
    background: #f3c83d;
    color: #000;
    padding-left: 2rem;
    padding-right: 2rem;
    border:0;
    border-radius:30px;
    min-height:46px;
    text-transform:uppercase;
    outline:none;  

}

.stamps img{
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    max-height:60px;
}